/* Horizontal Slider */
.cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.middle {
  display: flex;
  justify-content: center;
}

.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  max-width: 200px;
  margin: 10px 20px;
}
.imageCrop {
  width: 100%;
  max-width: max(min(17vw, 170px), 100px);
  margin: 10px 20px;
  border-radius: 50%;
}

.text {
  width: 100%;
  text-align: center;
  font-size: var(--S);
}
