.root {
  display: flex;
  max-height: fit-content;
  //padding-bottom: 10px;
  background-color: #367;
}

.slide {
  text-align: center;
  min-width: fit-content;
}

.img {
  border-radius: 12px;
}

.navigationWrapper {
  position: relative;
}
