.navContainer {
  display: flex;
  height: max(min(8vw, 80px), 50px);
  background-color: #fff;
  padding: 20px;
  justify-content: space-between;
  box-shadow: 0 10px 10px -10px #e8e8e8;
}

.footerSpacer {
  height: max(min(10vw, 180px), 100px);
}

.footer {
  box-shadow: 0 -10px 10px -10px #e8e8e8;
  position: absolute;
  width: 100%;
  bottom: -0px;
  height: max(min(8vw, 80px), 50px);
}
