.navMainContainer {
  position: relative;
  width: 100%;
  display: flex;
  height: max(min(8vw, 80px), 50px);
  background-color: #fff;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 10px -10px #e8e8e8;
  font-size: var(--S);
  z-index: 99 !important;
}

.navContainer {
  display: flex;

  height: max(min(8vw, 80px), 50px);
  background-color: #fff;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 10px -10px #e8e8e8;
  font-size: var(--S);
  z-index: 99 !important;
}
.combo {
  display: flex;
  align-items: center;
}

.menu {
  @media (min-width: 0) {
    display: flex;
    width: 100%;
    margin-left: 10px;
  }
  @media (min-width: 700px) {
    display: none;
  }
}

.navBody {
  @media (min-width: 0) {
    display: none;
  }
  @media (min-width: 700px) {
    display: flex;
    width: 100%;
    margin-left: 10px;
  }
}

.navTxt {
  color: var(--grey);
  font-weight: 600;
  cursor: pointer;
  margin: 0px 10px;
  transition: 0.3s;
}
.navTxt:hover {
  color: var(--darkgrey);
  transition: 0.3s;
}
.mainTitle {
  font-weight: 600;
}

.contacto {
  color: var(--darkgrey);
  transition: 0.3s;
  cursor: pointer;
}

.contacto:hover {
  color: var(--darkestgrey);
  transition: 0.3s;
}

.icon {
  height: max(min(2vw, 42px), 25px);
  margin-right: max(min(2vw, 15px), 5px);
}

.footerSpacer {
  height: max(min(10vw, 180px), 100px);
}

.footer {
  box-shadow: 0 -10px 10px -10px #e8e8e8;
  position: absolute;
  width: 100%;
  bottom: -0px;
  height: max(min(8vw, 80px), 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mediumgrey);
  font-size: var(--S);
}

/* MODAL */

.modalBg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
}

.modalBody {
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: var(--glow);
  z-index: 999;
}

.modalTxt {
  color: var(--grey);
  font-weight: 600;
  font-size: var(--LG);
  cursor: pointer;
  margin: 5px 10px;
  transition: 0.3s;
}

.modalTxt:hover {
  color: var(--darkgrey);
  transition: 0.3s;
}

.menuIcon {
  height: 12px;
  width: 15px;
  opacity: 0.5;
  transition: 0.3s;
}

.menuIcon:hover {
  opacity: 1;
  transition: 0.3s;
}
