.heroCont {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: var(--lightestgrey);
}

.small {
  @media (min-width: 0px) {
    width: 35%;
  }
  @media (min-width: 700px) {
    width: 30%;
  }

  background-color: var(--lightergrey);
}
.big {
  @media (min-width: 0px) {
    width: 65%;
  }
  @media (min-width: 700px) {
    width: 70%;
  }
}
