:root {
  --theme-color: #52b3d0;

  /* Responsive text sizes */
  --XXXXL: max(min(3vw, 4rem), 2.5rem);
  --XXXL: max(min(2.7vw, 3rem), 2rem);
  --XXL: max(min(2.5vw, 2.5rem), 1.7rem);
  --XL: max(min(2vw, 2.2rem), 1.5rem);
  --L: max(min(2vw, 1.8rem), 1.2rem);
  --M: max(min(1.7vw, 1.5rem), 1rem);
  --S: max(min(1.8vw, 1.2rem), 0.85rem);
  --XS: max(min(1vw, 1rem), 0.8rem);
}
