/* Global */
.container {
  position: relative;
  min-width: 320px;
  max-width: 2560px;
  width: 100%;
}

.contContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100%;
}

.middle {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 100%;
  display: flex;
  justify-content: center;
  animation: fadeIn 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.paddingMin {
  padding: 20px 0px;
  animation: fadeIn 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.padding {
  padding: 30px;
}

@media (max-width: 500px) {
  .delayedMiddle {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 100%;
    display: flex;
    justify-content: center;
    animation: fadeIn 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    padding-bottom: 15px;
  }
  .marginTop {
    margin-top: -10px;
  }
}

@media (min-width: 500px) {
  .delayedMiddle {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 100%;
    display: flex;
    justify-content: center;
    animation: fadeIn 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    padding-bottom: 15px;
  }

  .marginTop {
    margin-top: -25px;
  }
}
@media (min-width: 1000px) {
  .delayedMiddle {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 100%;
    display: flex;
    justify-content: center;
    animation: fadeIn 1s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    padding-bottom: 25px;
  }
  .marginTop {
    margin-top: -60px;
  }
}

@media (min-width: 2000px) {
  .delayedMiddle {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 100%;
    display: flex;
    justify-content: center;
    animation: fadeIn 1s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    padding-bottom: 65px;
  }
  .marginTop {
    margin-top: -60px;
  }
}

.hidden {
  display: none;
}

/* Landing Page*/

.landingContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: max(min(30vw, 550px), 100px);
  animation: fadeIn 1.2s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.landingText {
  width: 100%;
  display: flex;
  font-size: var(--4XL);
  font-weight: 700;
  margin: max(min(10vw, 100px), 20px);
  z-index: 99;
}

.typewriter {
  font-weight: 500;
  color: var(--darkergrey);
  z-index: 99;
}

/* Text */
.title {
  position: relative;
  text-align: center;
  font-size: var(--L);
  font-weight: 700;
  margin: max(min(5vw, 110px), 10px) 0px max(min(2vw, 30px), 10px) 0px;
}

.desc {
  text-align: center;
  font-size: var(--M);
  margin: max(min(8vw, 90px), 30px) 0px max(min(2vw, 30px), 10px) 0px;
}

/* Sliders */

@media (max-width: 500px) {
  .crop {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    transition: 0.2s;
  }
  .canvasDesc {
    width: 90%;
    text-align: center;
    font-size: var(--M);
    position: absolute;
    top: -20px;
    color: var(--darkgrey);
  }
}
@media (min-width: 500px) {
  .crop {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    transition: 0.2s;
  }
  .canvasDesc {
    width: 90%;
    text-align: center;
    font-size: var(--M);
    position: absolute;
    top: -35px;
    color: var(--darkgrey);
  }
}

@media (min-width: 1000px) {
  .crop {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    transition: 0.2s;
  }
  .canvasDesc {
    text-align: center;
    font-size: var(--M);
    position: absolute;
    top: -50px;
    color: var(--darkgrey);
  }
}
@media (min-width: 1500px) {
  .crop {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    padding-bottom: 40px;
  }
  .canvasDesc {
    text-align: center;
    font-size: var(--M);
    position: absolute;
    top: -80px;
    color: var(--darkgrey);
  }
}

.cropVertical {
  max-height: max(min(27vw, 500px), 190px);
  display: flex;
}

.cropVerticalGlow {
  max-height: max(min(30vw, 600px), 190px);
  display: flex;
  box-shadow: var(--topandbottomglow);
}

.verticalGlow {
  box-shadow: var(--topandbottomglow);
  animation: fadeIn 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0%;
    padding-top: 30px;
  }

  to {
    opacity: 100%;
    padding-top: 0px;
  }
}

/* Image Hero */
.imgHeroCont {
  animation: fadeIn 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  margin-top: max(min(5vw, 60px), 20px);
}

.imgHeroContNoTop {
  animation: fadeIn 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.extraCont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: max(min(25vw, 400px), 150px);
}
.verticalCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.heroTitle {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: var(--M);
  font-weight: 700;
  color: var(--darkgrey);
  padding-bottom: max(min(2vw, 20px), 10px);
}
.heroDesc {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: var(--EXXSM);
  font-weight: 500;
  color: var(--mediumgrey);
  padding-bottom: max(min(2vw, 40px), 20px);
}

.heroImg {
  @media (max-width: 1000px) {
    padding: max(min(1vw, 50px), 0px);
  }
  @media (min-width: 1000px) {
    padding: max(min(3vw, 50px), 0px);
  }
}

.middleImg {
  @media (max-width: 650px) {
    width: 80%;
  }
  @media (min-width: 650px) {
    width: 70%;
  }
  @media (min-width: 800px) {
    width: 60%;
  }
  max-width: 800px;
  margin: -5px auto;
}
