.globalContainer {
  width: 100%;
  max-width: 1900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.middle {
  display: flex;
  justify-content: center;
}

.crop {
  width: 50%;
  display: flex;
  justify-content: center;
}
