/* Global */

.globalContainer {
  width: 100%;
  max-width: 2100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Text */
.bigTitle {
  @apply text-XL font-bold;
}
/* Sliders */

.crop {
  width: 50%;
  display: flex;
  justify-content: center;
}

.cropVertical {
  max-height: max(min(27vw, 500px), 190px);
  display: flex;
}

.cropVerticalGlow {
  max-height: max(min(30vw, 600px), 190px);
  display: flex;
  box-shadow: var(--topandbottomglow);
}

.verticalGlow {
  box-shadow: var(--topandbottomglow);
}
